body{border:10px solid black;}
body{Background-color:#50ff00}
div {display:block;}
div {padding: 20px, 1000px, 20px, 10px;}
img{Float:center;}
.header
{backgroud-color: #F1F1F1;
 text-align: center;
 padding: 20px;
}

